/*!
 * Concerto Theme Framework
 *
 * Administration Dashboard CSS Styles
 */

/*@ MAIN */
.concerto { margin: 15px AUTO; padding: 0; cursor: default; width: 960px;}
#concerto_header { padding: 20px 0 10px; margin: 0 10px; border-bottom: 1px dotted #c0c0c0; }
#concerto_title { padding: 0; font-size: 40px; font-style: normal; }
#concerto_context { margin: 10px 10px 0; padding: 5px; background: #c34b3b; -moz-border-radius: 5px; }
#concerto_context input { border: 0; font-size: 18px; padding: 5px 25px; background: #df7b6d; color: #ffffff; }
#concerto_navigation li { float: left; margin-right: 20px; margin-top: 10px; }
.concerto a { text-decoration: none; color: #639638; }
.concerto a:hover { text-decoration: underline; color: #f26522; }
#concerto_navigation li a { font-family: georgia; text-transform: uppercase; }
#concerto_header .right { text-align: right; margin-top: 10px; }
#concerto_header .right p { font-size: 12px; margin: 0; font-family: georgia; }
#concerto_stage { margin-bottom: 10px; }
#concerto_stage select { width: 120px; margin-right: 0; }

#concerto_dashboard { height: 600px; }

.concerto_notice { clear: both; padding: 5px 20px; margin: 10px 10px 0; text-align: center; color: #ffffff; }
.concerto_notice a { text-decoration: underline; }
.concerto_notice a:hover { text-decoration: none; }
.level_updated { background: #fffbcc; border: 1px solid #e6db55; color: #666666; padding: 20px; }
.level_green { background: #39b54a; }
.level_green a { color: #c4df9b; }
.level_green a:hover { color: #991116; }
.greentext { color: #39b54a; }
.level_red { background: #ba2429; }

.box { min-width: 298px; background: #f4fbee url('../images/admin-box-background.jpg') repeat top left scroll; font-size: 12px; border: 1px solid #adbaa0; margin: 10px; -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.1); -moz-border-radius: 5px; -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.1); -webkit-border-radius: 5px; }
.box .inner { padding: 10px; }
.box .inner .text, .box .inner textarea { width: 100%; margin: 0; border: 1px solid #adbaa0; font-size: 16px; font-family: georgia; color: #999999; }
.box .inner .small-text, .box .inner .color { width: 48px; margin: 0; border: 1px solid #adbaa0; font-size: 16px; font-family: georgia; color: #999; }
.box .inner .color { font-family: arial; font-size: 14px; border: 0; }
.box .inner .color { width: 80px; color: #000000; }
.box h3 { background: #d1dec6 url('../images/admin-box-header-background.jpg') repeat top left scroll; text-shadow: 0 1px 0 #ffffff; padding: 10px; margin: 0; border-top: 1px solid #ffffff; border-bottom: 1px solid #adbaa0; color: #333333; font-size: 18px; font-family: georgia; font-weight: normal; -moz-border-radius-topleft: 4px;  -moz-border-radius-topright: 4px; -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4); -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4); }
.box h3 abbr { border-bottom: 1px dashed #000; cursor: help; }
.box h4 { margin: 10px 0 0; }
.box .inner p { font-size: 11px; margin: 5px 0; }
.box .inner p.desc { font-size: 12px; }
.box .inner table { width: 100%; }
.box .inner table td { text-align: center; }
.box .inner table th { background: #d1dec6; padding: 5px; }
.box .inner table td:first-child { text-align: left; font-size: 11px; }

.left, .box { float: left; }
.right { float: right; }

.box.box1column { width: 298px; }
.box.box2columns { width: 618px; }
.box.box3columns { width: 938px; }

.swfupload-control { height: 20px; }

#favicon { margin: 10px AUTO; width: 130px; }
#favicon_preview { float: left; margin-right: 5px; height: 16px; width: 16px; border: 1px solid #c0c0c0; background: #fefefe; }

.blur { border: 1px solid #bbbbbb; background: #f9f9f9; color: #bbbbbb; }
.blur h3 { background: #e1e1e1; border-bottom: 1px solid #bbbbbb; color: #999999; }
.blur .text, .blur textarea { border: 1px solid #bbbbbb; }

.swfupload { margin: 0; }
#removefavicon { font-size: 11px; margin-left: 18px; text-decoration: underline; }

ul#extensions { border-top: 1px solid #dddddd; padding-top: 10px; margin-top: 10px; }
#extensions li p { font-size: 10px; color: #999999; }

.warning_span { background: #df7b6d; color: #ffffff; padding: 5px; }
#terms_agreements_box { height: 600px; padding: 10px; overflow: auto; border: 1px solid #dddddd; background: #ffffff; }
#terms_agreements_box h5 { font-size: 14px; margin: 0; padding: 0; }
#terms_agreements_box p { margin-bottom: 20px; font-size: 12px; color: #777777; }
#registation_upgrade { margin-top: 10px; text-align: center; }
#naughty { background: #c34b3b; padding: 10px; font-size: 13px; text-align: center; color: #ffffff; }
#license_to, #license_on { font-size: 16px; }

#layout_columns { width: 100%; font-size: 16px; border: 1px solid #adbaa0; }

#header_image { margin: 10px 0; }
#removeheader { float: right; }

.content-toggle { float: left; margin-top: 2px; margin-right: 5px; display: block; height: 14px; width: 14px; -moz-box-shadow: 0 1px 0 #ffffff; -webkit-box-shadow: 0 1px 0 #ffffff; }
.content-toggle { background: #ffffff url('../images/admin-content-collapse.jpg') no-repeat center scroll; }
.content-toggle.expand { background: #ffffff url('../images/admin-content-expand.jpg') no-repeat center scroll; }
.content .desc { padding-top: 10px; font-weight: bold; color: #999999; }
.hide { display: none; }
#colorpicker { position: absolute; margin-top: 5px; margin-left: 40px; border: 1px solid #adbaa0; padding: 5px; background: #dde9d3; -moz-box-shadow: 3px 3px 7px rgba(0,0,0,0.3); -webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3); }

.sortable { margin-top: 5px; background: #cddbbf; border: 1px solid #adbaa0; padding: 2px 2px 0;}
.sortable ul li { cursor: move; background: #e4f2d6; border: 1px solid #adbaa0; padding: 5px; margin-bottom: 2px; }
.sortable ul li.sortable-highlight { background: #f2f2d6; border: 1px dashed #adbaa0; height: 17px; }

.navigationlists ul { background: #cddbbf; border: 1px solid #adbaa0; height: 190px; overflow: auto; padding: 2px 2px 0; }
.navigationlists ul li { background: #e4f2d6; border: 1px solid #adbaa0; padding: 5px; margin-bottom: 2px;}

#alertbox, #confirmbox { position: fixed; width: 300px; top: 50%; left: 50%; margin-top: -150px; margin-left: -150px; background: rgba(255,255,255,0.8); z-index: 1000; padding: 10px; text-align: center; border: 5px solid rgba(0,0,0,0.3); -moz-border-radius: 10px; -webkit-border-radius: 10px; -moz-box-shadow: 0 0 5px rgba(0,0,0,0.4); -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4); }
#alertbox h3, #confirmbox h3 { margin: 0; text-align: left; }
#alertbox .input, #confirmbox .input { text-align: right; margin-bottom: 0; }
#confirmbox .yes:hover { border: 1px solid #39b54a; }
#confirmbox .no:hover { border: 1px solid #f07b80; }
#alertbox input, #confirmbox input { padding: 5px 20px; font-size: 12px; background: url('../../../../../wp-admin/images/fade-butt.png') repeat-x top left scroll; }
#alertbox:hover, #confirmbox:hover { border: 5px solid rgba(0,0,0,0.6); }
#dim { position: fixed; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0,0,0,0.4); z-index: 100; }
#progressbar { position: fixed; bottom: -200px; left: 50%; margin-left: -150px; width: 300px; text-align: center; background: #e9e8e8 url('../../../../../wp-admin/images/fade-butt.png') repeat-x top left scroll; border: 1px solid #cccccc; border-bottom: 0; -moz-border-radius-topright: 10px; -moz-border-radius-topleft: 10px; -webkit-border-radius-topright: 10px; -webkit-border-radius-topleft: 10px; }
#progressbar .total { height: 3px; background: #f7f7f7; margin: 10px; z-index: 1000; border: 1px solid #cccccc; -moz-box-shadow: 0 1px 0 #ffffff; -webkit-box-shadow: 0 1px 0 #ffffff; }
#progressbar .done { background: #cadceb; width: 0; height: 3px; }
